main {
	min-height: 80vh;
}

.rating span {
	margin: 0.1 rem;
}

.darkButton {
	color: white !important;
	background-color: #121212d3 !important;
}
.darkButton:hover {
	background-color: #121212 !important;
}

.navlink {
	color: darkgrey;
	text-decoration: none;
}
.navlink:hover {
	color: white;
}

.linkActive {
	color: white;
}

.cardlink {
	text-decoration: none;
}
.cardlink:hover {
	text-decoration: underline;
	cursor: pointer;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}

.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h3 {
	color: #fff;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 20%;
}

.carousel a {
	margin: 0 auto;
}
