main {
	min-height: 80vh;
}

.rating span {
	margin: 0.1 rem;
}

.navlink {
	color: darkgrey;
	text-decoration: none;
}
.navlink:hover {
	color: white;
}

.linkActive {
	color: white;
}

.cardlink {
	text-decoration: none;
}
.cardlink:hover {
	text-decoration: underline;
}
