main {
	min-height: 80vh;
}

.rating span {
	margin: 0.1 rem;
}

.darkButton {
	color: white !important;
	background-color: #121212d3 !important;
}
.darkButton:hover {
	background-color: #121212 !important;
}

.navlink {
	color: darkgrey;
	text-decoration: none;
}
.navlink:hover {
	color: white;
}

.linkActive {
	color: white;
}

.cardlink {
	text-decoration: none;
}
.cardlink:hover {
	text-decoration: underline;
	cursor: pointer;
}
